
//fonts
$GothamPro = 'Gotham Pro', sans-serif;


//response
$desktop = 'screen and (min-width: 651px)';
$bigScreen = 'screen and (min-width: 1921px)';
$hover = 'screen and (hover: hover)'



//color
$bgMain = #FFFFFF;


$textMain = #202020
$textContrast = #FFFFFF


$bordertTable = #202020;


//amination
$transition-duration = 0.3s